expycted==0.8.2
mock==5.1.0
poethepoet==0.31.1
pytest==8.3.4
pytest-cov==6.0.0
mypy==1.14.1
pyproject-flake8==7.0.0
flake8==7.0.0
black==24.10.0
flake8-simplify==0.21.0
flake8-pie==0.16.0
flake8-bandit==4.1.1
flake8-cognitive-complexity==0.1.0
flake8-expression-complexity==0.0.11
radon==6.0.1
xenon==0.9.3
flake8-quotes==3.4.0
flake8-print==5.0.0
flake8-eradicate==1.5.0
flake8-comments==0.1.2
toml-sort==0.24.2
isort==5.13.2
unify==0.5
perflint==0.8.1
watchdog==6.0.0
pydoc-markdown==4.7.0
types-emoji==2.1.0.3
pyyaml>=6.0.2,<7.0.0