# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install poetry poethepoet
        poetry install
    - name: Build and install the library
      run: |
        poe build
    - name: Test with ward
      run: |
        export PYTHONPATH=$(pwd)
        poe test
    - name: fix code coverage paths
      run: |
        sed -i 's/\/home\/runner\/work\/beaupy\/beaypy\//\/github\/workspace\//g' coverage.xml
    - name: Typecheck the code
      run: |
        poetry run poe mypy
    - name: Lint the code
      run: |
        poetry run poe flake8
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
